@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #f1f3fa;
  position: relative; }

::selection {
  background-color: #727cf5;
  color: #f1f3fa; }

.u-container {
  max-width: 80rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 3rem; }

.u-center-text {
  text-align: center; }

.heading-primary {
  font-size: 2.7rem;
  letter-spacing: 1px;
  word-spacing: 0.7rem;
  font-weight: 400; }

.mb-s {
  margin-bottom: 2rem; }

.mb-m {
  margin-bottom: 5rem; }

.alert {
  display: inline-block;
  padding: 0.3rem 1rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  cursor: context-menu;
  background-color: #f83a60;
  width: 100%; }

.badge {
  display: inline-block;
  padding: 0.3rem 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 1.3rem;
  text-align: center;
  cursor: context-menu; }
  .badge--repos {
    background-color: #727cf5; }
  .badge--gists {
    background-color: #0acf97; }
  .badge--followers {
    background-color: #fd7e14; }
  .badge--following {
    background-color: #f83a60; }

.main {
  min-height: calc(100vh - 7rem);
  background-color: #1e1e1e;
  padding: 5rem 0;
  transition: all 0.2s ease; }

.main-dark {
  background-color: #f1f3fa;
  color: #1e1e1e; }

.navbar {
  height: 7rem;
  background-color: #343a40;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; }

.search__form {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1rem 3rem rgba(30, 30, 30, 0.15); }

.search__input {
  flex: 1;
  padding: 1.2rem 1.2rem;
  font-family: inherit;
  border: none;
  background-color: #464f5b;
  border: 2px solid transparent;
  font-size: 1.6rem;
  color: #ffffff;
  transition: all 0.2s ease; }
  .search__input:focus {
    outline: none;
    border: 2px solid #727cf5; }
  .search__input::-webkit-input-placeholder {
    color: #98a6ad;
    font-size: 1.6rem; }

.search__side {
  background-color: #727cf5;
  align-self: stretch;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease;
  font-weight: 400;
  color: #ffffff;
  border: none;
  font-family: inherit;
  font-size: inherit; }
  .search__side:hover {
    background-color: #646ff4; }
  .search__side:active {
    background-color: #5a66f3; }
  .search__side:focus {
    outline: none; }

.user {
  display: flex;
  gap: 2rem; }
  @media only screen and (max-width: 610px) {
    .user {
      flex-direction: column;
      align-items: center; } }
  .user-profile__photo {
    display: block;
    height: 20rem;
    width: 20rem;
    border-radius: 5px;
    margin-bottom: 1rem; }
  .user-profile__link {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    background-color: #727cf5;
    padding: 0.5rem 1.5rem;
    width: 100%;
    border-radius: 5px;
    text-align: center; }
  .user-info {
    flex: 1; }
    .user-info__badges {
      width: 100%;
      display: flex;
      gap: 1rem; }
      .user-info__badges > * {
        flex: 1; }
    .user-info__list {
      list-style: none;
      height: 80%;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      letter-spacing: 0.5px; }
      @media only screen and (max-width: 610px) {
        .user-info__list {
          text-align: center; } }
  @media only screen and (max-width: 610px) {
    .user-repos__heading {
      text-align: center; } }
  .user-repos__list {
    list-style: none; }
  .user-repos__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #343a40;
    padding: 1rem 2rem;
    border-radius: 5px; }
  .user-repos__link:link, .user-repos__link:visited {
    color: #ffffff;
    transition: all 0.1s ease; }
  .user-repos__link:hover, .user-repos__link:active {
    color: #727cf5; }

.toggle-box {
  position: absolute;
  top: 2rem;
  right: 10rem; }

.toggle-label {
  position: relative;
  cursor: pointer; }

.toggle {
  display: none; }

.slider {
  position: absolute;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  transition: all 0.4s ease;
  border-radius: 50px; }
  .slider::after {
    content: '';
    display: block;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: all 0.4s ease; }

.toggle:checked + .toggle-label > .slider {
  background-color: #1e1e1e; }

.toggle:checked + .toggle-label > .slider::after {
  transform: translateX(26px); }

.control {
  height: 100vh;
  width: 100vw; }

.footer {
  height: 10rem;
  color: #1e1e1e;
  background-color: #f1f3fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-top: 1px solid #1e1e1e; }
  .footer__social {
    display: flex;
    gap: 1.5rem; }
  .footer__link {
    color: #1e1e1e; }
  .footer__icon {
    cursor: pointer; }
    .footer__icon--heart {
      color: #f83a60;
      margin: 0 0.5rem; }
