$color-blue: #727cf5;

$color-white: #ffffff;

$color-grey-light-1: #f1f3fa;

$color-grey-dark-1: #98a6ad;
$color-grey-dark-2: #343a40;
$color-grey-dark-3: #1e1e1e;
$color-grey-dark-4: #464f5b;

$color-green: #0acf97;
$color-orange: #fd7e14;
$color-red: #f83a60;
