.badge {
  display: inline-block;
  padding: 0.3rem 1rem;
  box-shadow: 0 1rem 4rem rgba(#000, 0.2);
  border-radius: 10px;
  font-size: 1.3rem;
  text-align: center;
  cursor: context-menu;

  &--repos {
    background-color: $color-blue;
  }
  &--gists {
    background-color: $color-green;
  }
  &--followers {
    background-color: $color-orange;
  }
  &--following {
    background-color: $color-red;
  }
}
