.search {
  &__form {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1rem 3rem rgba($color-grey-dark-3, 0.15);
  }

  &__input {
    flex: 1;
    padding: 1.2rem 1.2rem;
    font-family: inherit;
    border: none;
    background-color: $color-grey-dark-4;
    border: 2px solid transparent;
    font-size: 1.6rem;
    color: $color-white;
    transition: all 0.2s ease;

    &:focus {
      outline: none;
    }
  }

  &__side {
    color: $color-white;
    align-self: stretch;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: $color-blue;

    &:focus {
      outline: none;
    }
  }
}
