.toggle-box {
  position: absolute;
  top: 1.5rem;
  right: 10rem;
  // transform: translateY(-50%);
}

.toggle-label {
  position: relative;
  cursor: pointer;
}

.toggle {
  // opacity: 0;
  display: none;
}

.slider {
  position: absolute;
  width: 6rem;
  height: 3.4rem;
  background-color: #ccc;
  transition: all 0.4s cubic-bezier(0.5, 0.07, 0, 1.74);
  border-radius: 50px;

  &::after {
    content: '';
    display: block;
    height: 2.6rem;
    width: 2.6rem;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: all 0.4s cubic-bezier(0.5, 0.07, 0, 1.74);
  }
}

.toggle:checked + .toggle-label > .slider {
  background-color: $color-grey-dark-3;
}

.toggle:checked + .toggle-label > .slider::after {
  transform: translateX(2.6rem);
}

.control {
  height: 100vh;
  width: 100vw;
}
