.u-container {
  max-width: 80rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 3rem;
}

.u-center-text {
  text-align: center;
}

.heading-primary {
  font-size: 2.7rem;
  letter-spacing: 1px;
  word-spacing: 0.7rem;
  font-weight: 400;
}

.mb-s {
  margin-bottom: 2rem;
}

.mb-m {
  margin-bottom: 5rem;
}
